* {
  font-size: x-large;
}

footer {
  display: flex;
  justify-content: space-around;
}

footer section {
  font-size: xxx-large;
}

#header {
  display: flex;
  margin: 50;
  justify-content: space-between;
}

main {
  top: 50%;
  left: 50%;
  text-align: center;
}

ul {
  list-style: none;
}

button {
  background-color: blueviolet;
  color: white;
  padding: 20px;
  border-radius: 12px;
}

button:hover {
  background-color: plum;
  color: darkmagenta;
}
